.helpPageWrapper {
  min-height: 100vh;
  width: 100%;
  padding-bottom: 4rem;
  margin-top: -2rem;
}

.helpContainer {
  max-width: 800px;
  margin: 0 auto; 

  .helpHeader {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  

  h1 {
    font-size: 2.5rem;
    margin-top: 0;            
    margin-bottom:1rem; 
    @media (max-width: 768px) {
        margin-top: 1rem; 
    }      
  }

  .description {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }
  

  .bulletList {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin: 0.5rem 0;

    li {
      margin-bottom: 0.5rem;
      gap: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .helpFooter {
    margin-top: 2rem;
    padding-top: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  .linksnotunderline {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-left: 8px;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;

      &:hover {
        text-decoration: none;
      }
    }
  }
  
  .githubTextSpace {
    margin-left: 8px;
  }

  .underlineText {
    text-decoration: underline;
  }
  
  .redText {
    color: #eb5757;
    background-color: #87837826;
    padding: 2.72px 5.44px;
    gap: 2px;
  }

  .sLinks {
    gap: 3px;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  @media (max-width: 768px) {
    padding-top: 2rem;
  } 
}


.helpSections {
  border-top: 1px solid #333;
}
