.home {
  display: flex;
  flex-direction: column;
  height: 100%;
  h1 {
    margin-bottom: 63px;
  }
  h2 {
    margin-bottom: 63px;
  }
}

.extra-links {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
