.verify {
  display: flex;
  flex-direction: column;
  height: 100%;

  a {
    display: inline-block;
  }

  .connect {
    border: 1px solid black;
    border-radius: 0.5rem;         
    padding: 1rem 2rem;
    background-color: transparent;    
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-bottom: 1rem;
  
    &:hover {
      background-color: #fefee9;
    }
  }

  .connect a {
    font-weight: 600;
    font-size: 15px;
  }

  .sign {
    margin-top: 10px;
    display: inline-block;
  }

  h1 {
    margin-top: 18px;
    margin-bottom: 38px;
  }

  .starknetWallet {
    word-wrap: break-word;
  }
  .advancedErrorMessage {
    font-size: 12px;
    color: rgba(128, 128, 128, 0.765);
    word-break: break-all;
  }
  /* cursor select effect */
  .advancedErrorMessage::selection {
    background: black;
    color: white;
  }
}


.discordIcon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.iconPlaceholder {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #333;
  font-size: 12px;
}

.serverInfo {
  display: flex;
  align-items: center;
}

.serverDisplay {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-left: 8px;
}

.networkDisplay {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}